.div {
    display: flex;
    gap: 16px;
    margin-top: 32px;
    
}

.btn {
    width: 10px;
    height: 12px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    cursor: pointer;
    
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.63);
}

.active {
    background-color: #fff;
}

@media (min-width: 1280px) {
    .btn {
        width: 15px;
        height: 15px;
    }
}