
@font-face {
  font-family: "bellefair";
  src: url('../public/assets/fonts/Bellefair/Bellefair-Regular.ttf');
}

@font-face {
  font-family: "barlow";
  src: url('../public/assets/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf');
}

@font-face {
  font-family: "barlowClasic";
  src: url('../public/assets/fonts/Barlow/Barlow-Regular.ttf');
}

:root {
  --white: #fff;
  --lightBlue: #D0D6F9;
  --dark: #0B0D17;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: 'bellefair';
}
