.div {
    display: flex;
}

.number,
.text {
    letter-spacing: 2.7px;
    font-family: "barlow";
}

.number {
    color: rgba(255, 255, 255, 0.493);
    margin-right: 18px;
}

.text {
    color: white;
}