.div {
    display: flex;
}

.number,
.text {
    letter-spacing: 2.7px;
    font-family: "barlow";
}

.number {
    color: rgba(255, 255, 255, 0.493);
    margin-right: 18px;
}

.text {
    color: white;
}

@media (min-width: 768px) {
    .div {
        width: 100%;
        margin-left: 38.5px;
    }

    .number,
    .text {
        font-size: 1.25rem;
        letter-spacing: 3.38px;
        margin-bottom: 0;
    }
}