.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
    z-index: 100;
}

.burgerBtn {
    background-color: transparent;
    border: none;
    
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.burgerBtn img,
.closeBtn img {
    border: none;
    background-color: none;
    object-fit: contain;
}

.closeBtn {
    width: 40px;
    height: 40px;
}

.sideMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(36, 36, 36, 0.397);
  box-shadow: -2px 0 5px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
  padding: 2rem 1rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  transform: translateX(100%); /* caché hors de l'écran */
}

.sideMenuOpen {
  transform: translateX(0);
}

.sideMenu nav ul {
    list-style: none;
    padding: 40px 0 0 0;
    margin: 0;
}

.sideMenu nav ul li {
    margin: 1.8rem 0;
    letter-spacing: 2.7px;
}

.sideMenu nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
}

.sideMenu nav ul li a span {
    font-weight: bold;
    margin-right: 0.8rem;
    color: #ffffff;

}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 150;
}

.desktopNav {
    display: none;
}

@media (min-width: 768px) {
    .burgerBtn {
        display: none;
    }

    .desktopNav {
        display: block;
    }

    .desktopNav ul {
        display: flex;
        gap: 2rem;
        list-style: none;
    }

    .desktopNav a {
        text-decoration: none;
        color: var(--white);
        font-weight: bold;
    }
}
