.div {
    width: 100%;
    margin-top: 16px;
}

.role {
    color: #ffffff4b;
    text-transform: uppercase;
    font-size: 1rem;
}

.name {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
}

.bio {
    color: #D0D6F9;
    font-size: .9375rem;
    font-family: "barlowClasic";
    line-height: 25px;
}

@media (min-width:768px) {
    .div {
        width: 70%;
    }

    .role {
        font-size: 1.5rem;
        margin: 0;
    }

    .name {
        font-size: 2.5rem;
        margin-top: 8px;
        margin-bottom: 16px;
    }

    .bio {
        font-size: 1rem;
        line-height: 28px;
        margin: 0;
    }
}

@media (min-width:1280px) {
    .div {
        display: flex;
        flex-direction: column;
        align-items:  flex-start;
        width: 100%;
    }

    .role {
        font-size: 2rem;
    }
    
    .name {
        font-size: 3.5rem;
    }

    .bio {
        text-align: start;
        font-size: 1.125rem;
        line-height: 2rem;
        width: 63%;
    }
}