.div {
    text-align: center;
    width: 90%;
    margin-top: 42px;
}

.firstP,
.secondP {
    color: #D0D6F9;
    
}

.firstP {
    letter-spacing: 2.7px;
    font-family: "barlow";
}

.secondP {
    line-height: 2;
    font-size: 15px;
    font-family: "barlowClasic";
}

.h1 {
    color: white;
    font-size: 5rem;
    margin: 34px;
    font-weight: 400;

}

.btn {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border: #ffffff;
    margin-top: 50px;
    font-size: 1.25rem;
    letter-spacing: 1.25px;
    margin-bottom: 70px;
}

@media (min-width: 768px) {

    .div {
        width: 58%;
    }
    .firstP {
        font-size: 1.25rem;
        letter-spacing: 3.38px;
    }

    .h1 {
        font-size: 9.375rem;
        margin-left: 0;
        margin-right: 0;
    }

    .secondP {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .btn {
        width: 263px;
        height: 263px;
        font-size: 2rem;
        margin-top: 156px;
    }
}

@media (min-width: 1280px) {
    .div {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        justify-items: center;
        padding-top: 10%;
        min-height: 100vh;
    }

    .divText {
        width: 70%;
        
    }

    .firstP {
        margin: 0;
        font-size: 1.75rem;
        letter-spacing: 4.72px;
    }

    .secondP {
        width: 100%;
        text-align: left;
        margin: 0;
        font-size: 1.125rem;
        line-height: 32px;
        padding-left: 5%;
    }

    .h1 {
        margin: 24px 0;
    }

}